<div class="container">
  <div class="main">
    <ul class="nav_links">
      <li style="font-size: 20px">
        <h1 style="margin: 0px; padding: 0px">Banking Application</h1>
      </li>
      <li style="margin-left: 600px">
        <button routerLink="/home">Home</button>
      </li>
      <li>
        <button routerLink="/login">Logout</button>
      </li>
    </ul>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="card">
        <div class="text-center">
          <h1>Transfer Amount</h1>
          <h5>Please enter account details !!</h5><hr>
        </div>
        <form class="mx-1 mx-md-4" [formGroup]="sendMoneyForm">
          <div class="form-group">
            <div class="mb-3">
              <label class="form-label">From </label>
              <input
                type="text"
                class="form-control"
                formControlName="fromName"
              />
            </div>
            <div
              *ngIf="
                sendMoneyForm.controls['fromName'].touched &&
                sendMoneyForm.controls['fromName'].hasError('required')
              "
            >
              <p style="color: rgb(12, 10, 10); margin-left: 20px">
                This field is required
              </p>
            </div>
          </div>

          <div class="form-group">
            <div class="mb-3">
              <label class="form-label">To </label>
              <input
                type="text"
                class="form-control"
                formControlName="toName"
              />
            </div>
            <div
              *ngIf="
                sendMoneyForm.controls['toName'].touched &&
                sendMoneyForm.controls['toName'].hasError('required')
              "
            >
              <p style="color: rgb(12, 10, 10); margin-left: 20px">
                This field is required
              </p>
            </div>
          </div>

          <div class="form-group">
            <div class="mb-3">
              <label class="form-label">Enter Amount </label>
              <input
                type="text"
                class="form-control"
                formControlName="transactionAmount"
              />
            </div>
            <div
              *ngIf="
                sendMoneyForm.controls['transactionAmount'].touched &&
                sendMoneyForm.controls['transactionAmount'].hasError('required')
              "
            >
              <p style="color: rgb(12, 10, 10); margin-left: 20px">
                Amount is required
              </p>
            </div>
          </div>

          <div class="form-group">
            <div class="mb-3">
              <label class="form-label">Transaction Date </label>
              <input
                type="date"
                id="date_picker"
                class="form-control"
                formControlName="transactionDate"
              />
            </div>
            <div
              *ngIf="
                sendMoneyForm.controls['transactionDate'].touched &&
                sendMoneyForm.controls['transactionDate'].hasError('required')
              "
            >
              <p style="color: rgb(12, 10, 10); margin-left: 20px">
                Date is required
              </p>
            </div>

            <script language="javascript">
              var today = new Date();
              var dd = String(today.getDate()).padStart(2, '0');
              var mm = String(today.getMonth() + 1).padStart(2, '0');
              var yyyy = today.getFullYear();
      
              today = yyyy + '-' + mm + '-' + dd;
              $('#date_picker').attr('min',today);
          </script>
          </div>

          <div class="form-group">
            <div class="mb-3">
              <label class="form-label">Enter your account id </label>
              <input
                type="text"
                class="form-control"
                formControlName="accountId"
              />
            </div>

            <div
              *ngIf="
                sendMoneyForm.controls['accountId'].touched &&
                sendMoneyForm.controls['accountId'].hasError('required')
              "
            >
              <p style="color: rgb(12, 10, 10); margin-left: 20px">
                This field is required
              </p>
            </div>
          </div>

          <div class="form-group">
            <div class="mb-3">
              <label class="form-label">Enter account type</label>
              <input
                type="text"
                class="form-control"
                formControlName="accountType"
              />
            </div>

            <div
              *ngIf="
                sendMoneyForm.controls['accountType'].touched &&
                sendMoneyForm.controls['accountType'].hasError('required')
              "
            >
              <p style="color: rgb(12, 10, 10); margin-left: 20px">
                This field is required
              </p>
            </div>
          </div>

          <button [disabled]="sendMoneyForm.invalid" class="btn btn-primary" (click)="sendMoney()">
            SEND
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
